.skill-container{
    color: white;
    padding: 6px 18px;
    border: 2px solid white;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: .8em;
}

.skill-container:hover{
    background-color: white;
    color: black;   
}

@media (max-width: 700px) {
    .skill-container{
        margin-right: 5px;
    }
}